* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.headeruno {
  background-color: rgb(240, 219, 219);
}
.headeruno h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: rgb(254, 252, 243);
}
.headeruno form fieldset {
  padding-left: 80%;
}
.headeruno form fieldset input {
  background-color: rgba(254, 252, 243, 0.9882);
}

.mainuno {
  text-align: center;
  background-color: rgb(219, 163, 154);
  color: rgb(254, 252, 243);
}
.mainuno h2 {
  font-family: "Questrial", sans-serif;
  padding-top: 10px;
  padding-bottom: 20px;
}
.mainuno h3, .mainuno h5 {
  text-align: center;
  font-family: "Ruda", sans-serif;
  font-size: 50px;
}
.mainuno fieldset {
  font-family: "Convergence", sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: column;
}

h5 {
  display: flex;
  flex-direction: column;
  padding-bottom: 300px;
}

.body {
  margin: 0%;
}
.body header {
  background-color: rgb(219, 163, 154);
}
.body header h1 {
  padding-left: 20px;
  color: black;
  text-align: left;
  font-family: "Oswald", sans-serif;
}
.body header fieldset {
  padding-left: 80%;
}
.body header input {
  background-color: rgb(240, 219, 219);
}

.maindos {
  background-color: rgb(245, 235, 224);
}
.maindos h1 {
  font-family: "Ruda", sans-serif;
  color: black;
  font-size: 45px;
  text-align: center;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}
.maindos section {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-areas: "uno, dos, tres" "uno, dos, tres" "uno, dos, tres";
  grid-area: "uno, dos, tres" "uno, dos, tres" "uno, dos, tres";
}
.maindos img {
  height: 300px;
  width: 300px;
}
.maindos .dos {
  font-family: "Ruda", sans-serif;
  color: black;
  font-size: 45px;
  text-align: center;
}

body {
  background-color: rgb(240, 219, 219);
}
body .headertres {
  background-color: rgb(219, 163, 154);
}
body .headertres h1 {
  padding-left: 20px;
  color: black;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
}
body .headertres fieldset {
  padding-left: 80%;
}
body .headertres input {
  background-color: rgb(240, 219, 219);
}
body .maintres h2 {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
}
body .maintres section img {
  padding-left: 30px;
  flex-wrap: wrap;
  height: 400px;
  width: 300px;
  align-items: center;
}

.bodycuatro {
  background-color: rgb(240, 219, 219);
}
.bodycuatro .headercuatro {
  background-color: rgb(219, 163, 154);
}
.bodycuatro .headercuatro h1 {
  padding-left: 20px;
  color: black;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
}
.bodycuatro .headercuatro fieldset {
  padding-left: 80%;
}
.bodycuatro .headercuatro input {
  background-color: rgb(240, 219, 219);
}
.bodycuatro .headercuatro h2 {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
}
.bodycuatro section img {
  padding-left: 30px;
  flex-wrap: wrap;
  height: 400px;
  width: 300px;
  align-items: center;
}

.bodycinco {
  background-color: rgb(240, 219, 219);
}
.bodycinco .headercinco {
  background-color: rgb(219, 163, 154);
}
.bodycinco .headercinco h1 {
  padding-left: 20px;
  color: black;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
}
.bodycinco .headercinco fieldset {
  padding-left: 80%;
}
.bodycinco .headercinco input {
  background-color: rgb(240, 219, 219);
}
.bodycinco .headercinco h2 {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
}
.bodycinco section img {
  padding-left: 30px;
  flex-wrap: wrap;
  height: 400px;
  width: 300px;
  align-items: center;
}

.bodyseis {
  background-color: rgb(240, 219, 219);
}
.bodyseis .headerseis {
  background-color: rgb(219, 163, 154);
}
.bodyseis .headerseis h1 {
  padding-left: 20px;
  color: black;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
}
.bodyseis .headerseis fieldset {
  padding-left: 80%;
}
.bodyseis .headerseis input {
  background-color: rgb(240, 219, 219);
}
.bodyseis .headerseis h2 {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
}
.bodyseis section img {
  padding-left: 30px;
  height: 400px;
  width: 300px;
}

.bodysiete {
  background-color: rgb(245, 235, 224);
}
.bodysiete .headersiete h1 {
  padding-left: 20px;
  color: rgb(254, 252, 243);
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
}
.bodysiete .headersiete fieldset {
  padding-left: 80%;
}
.bodysiete .headersiete input {
  font-size: 15px;
  background-color: rgba(254, 252, 243, 0.9882);
}
.bodysiete .mainsiete {
  text-align: center;
}
.bodysiete .mainsiete .sectionsiete {
  font-family: "Ruda", sans-serif;
}
.bodysiete .mainsiete .sectionsiete p {
  font-size: 30px;
}

/*# sourceMappingURL=style.css.map */
