.bodycuatro{
background-color:rgba(240, 219, 219, 1) ;
    .headercuatro{
        background-color:rgba(219, 163, 154, 1) ;
        h1{
            padding-left: 20px;
            color: black;
        text-align:left;
        font-family: 'Oswald', sans-serif;
        font-size: 50px;
        }
        fieldset{
            padding-left: 80%;
        }
            input{
            background-color:rgba(240, 219, 219, 1);
        }
        h2{
            font-family: 'Oswald', sans-serif;
            font-size: 60px;
        }
    }
    section{
        img{
            padding-left: 30px;
            flex-wrap: wrap;
            height: 400px;
            width: 300px;
            align-items: center;
        }
    }
}